/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/07/2016, 10:26:03 PM
    Author     : Shivangi
*/

a
{
    color: white !important;
}

body
{
    background-color: black;
    font-family: 'Maitree', serif;
    height: 100vh;
}

.info_pic
{
    height: calc(100vh - 200px);
    margin-top: 1%;
    vertical-align: middle;
}

.info_text
{
    height: calc(100vh - 200px);
     margin-top: 1%;
}

.row
{
    margin: 0px !important;
}

p
{
    margin: 0 !important;
}

h4.capitalize {
    text-transform: capitalize;
}

.body_desc
{
    font-size: 16px;
}

a:hover
{
  color: yellow !important;
  text-decoration: none !important;
}

